@import "../../styles/colors.module.scss";
@import "../../styles/fonts.module.scss";

.inputContainer {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
  }
  .inputWrapper {
    position: relative;
    .indicator {
      display: flex;
      position: absolute;
      height: fit-content;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
    .input {
      @include fontMixin;
      padding: 15px;
      width: 100%;
      background-color: $neutral-5;
      font-size: $fontSizeH2;
      height: 48px;
      color: $neutral-1;
      border-radius: 5px;
      text-align: end;
      box-sizing: border-box;
      border: 2px solid transparent;
      transition-duration: 0.1s;
      &.hasIndicator {
        padding-left: 35px;
      }
      &:focus {
        border: 2px solid $primary;
      }
      &.hasError {
        border: 2px solid $danger;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
}
