@import "../../styles/colors.module.scss";
@import "../../styles/fonts.module.scss";

.text {
  @include fontMixin;
  //Colors
  &.primary {
    color: $primary;
  }
  &.neutral-1 {
    color: $neutral-1;
  }
  &.neutral-2 {
    color: $neutral-2;
  }
  &.neutral-3 {
    color: $neutral-3;
  }
  &.neutral-4 {
    color: $neutral-4;
  }
  &.neutral-5 {
    color: $neutral-5;
  }
  &.white {
    color: $white;
  }
  &.danger {
    color: $danger;
  }

  //Sizes

  &.small {
    font-size: $fontSizeSmall;
  }
  &.normal {
    font-size: $fontSizeNormal;
  }
  &.h2 {
    font-size: $fontSizeH2;
  }
  &.h1 {
    font-size: $fontSizeH1;
  }
  &.h0 {
    font-size: $fontSizeH0;
  }

  //utils

  &.hideOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
