@import "../../styles/colors.module.scss";
@import "../../styles/adaptivity.module.scss";

.container {
  border-radius: 30px;
  display: flex;
  height: 100%;
  width: 100%;
  .content {
    flex: 1;
    padding: 35px;
    @include mediaDown(lg) {
      padding: 25px;
    }
  }
}
