@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

$bold: 700;

$fontSizeSmall: 12px;
$fontSizeNormal: 14px;
$fontSizeH3: 18px;
$fontSizeH2: 24px;

$fontMonoSpace: "Space Mono", monospace;
