@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

$bold: 700;

$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeH2: 24px;
$fontSizeH1: 32px;
$fontSizeH0: 48px;

$fontMonoSpace: "Space Mono", monospace;

@mixin fontMixin {
  font-weight: $bold;
  font-family: $fontMonoSpace;
}
