@import "../styles/colors.module.scss";
@import "../styles/adaptivity.module.scss";

.main {
  background-color: $neutral-4;
  height: fit-content;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 85px;
  @include mediaDown(lg) {
    gap: 8vh;
  }
  @include mediaDown(sm) {
    gap: 5vh;
    justify-content: flex-end;
  }
  .logo {
    margin-top: 30px;
  }
  .formWrapper {
    height: 480px;
    width: 949px;
    margin-bottom: 50px;
    @include mediaDown(lg) {
      width: auto;
      height: auto;
      margin: 0 50px;
    }
    @include mediaDown(sm) {
      margin: 0;
    }
    .outerContainer {
      box-shadow: 0px 0px 30px 1px #00000012;
      @include mediaDown(sm) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .formContainer {
        display: flex;
        gap: 35px;
        & > * {
          flex: 1;
        }

        @include mediaDown(lg) {
          flex-direction: column;
        }
        .displayFieldsContainer {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          @include mediaDown(lg) {
            gap: 40px;
          }
          .displayFields {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        }
      }
    }
  }
}
