@import "../../styles/colors.module.scss";
.white {
  background-color: $white;
}
.primary {
  background-color: $primary;
}
.neutral-1 {
  background-color: $neutral-1;
}
.neutral-2 {
  background-color: $neutral-2;
}
.neutral-2 {
  background-color: $neutral-3;
}
.neutral-2 {
  background-color: $neutral-4;
}
.neutral-2 {
  background-color: $neutral-5;
}
.danger {
  background-color: $danger;
}
