@import "../../styles/colors.module.scss";
.white {
  background-color: $white;
}
.veryDarkCyan {
  background-color: $veryDarkCyan;
}
.strongCyan {
  background-color: $strongCyan;
}
.darkGrayishCyan {
  background-color: $darkGrayishCyan;
}
.grayishCyan {
  background-color: $grayishCyan;
}
.lightGrayishCyan {
  background-color: $lightGrayishCyan;
}
.veryLightGrayishCyan {
  background-color: $veryLightGrayishCyan;
}
.dangerColor {
  background-color: $dangerColor;
}
